@import "_mixins-fonts.scss";

/*********************************************************************************************************************\
                                                  Header
\*********************************************************************************************************************/

.nav-a {
  @include text("Ubuntu", 14px, normal, normal, center, #222222, none);

  padding: 0.5rem 1rem;
  &:hover {
    color: white;
  }
}

.header-link {
  @include text("Ubuntu", 16px, normal, normal, center, #4a4a4a, none);

  &:hover {
    color: #288820;
  }
}

.btn-cart {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  background-color: #288820;
}

.btn-cart-p {
  @include text("Ubuntu", 14px, normal, normal, center, #d8d8d8, none);

  margin: 0;
}

.hd-link {
  @include text("Ubuntu", 16px, normal, normal, center, #323131, none);
  text-align: start;

  &:hover {
    color: #323131;
  }
}

.search {
  position: relative;
  width: 65%;
}

.search-inp {
  width: 100%;
  height: 38px;
  line-height: 38px;

  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ffffff;

  &::placeholder {
    padding-left: 16px;
  }
}

.search-img {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  height: 38px;
  padding-right: 15px;
  // padding: 9px 15px;
}

/*********************************************************************************************************************\
                                                  Main
\*********************************************************************************************************************/

h4 {
  @include text("Ubuntu", 20px, bold, normal, center, #000000, none);
  margin: 0;
  line-height: 33px;
}

.bg {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url(../assets/title/bitmap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}

.bg-img {
  width: 100%;
  height: 100%;
}

.bg-green {
  position: absolute;
  height: 100%;
  width: 5%;
  left: 15px;
  top: 0;
  z-index: 1;

  background-color: #2e552d;
}

.bg-text {
  position: absolute;
  left: 40%;
  top: 35%;
}

.bg-text-h1 {
  @include text("Rubik", 36px, bold, normal, left, #2f662d, none);

  margin: 4px 0;
}

.bg-text-p {
  @include text("Ubuntu", 20px, normal, normal, left, #2a2c2a, none);
}

.bg-a {
  position: absolute;
  right: 15px;
  bottom: 0;

  background-color: #248622;
  border-radius: 20px 0 0 0;
  width: 188px;
  height: 45px;
  line-height: 45px;

  @include text("Ubuntu", 16px, normal, italic, center, #ffffff, none);
}

.green-link {
  font-family: Ubuntu;
  font-size: 14px;
  color: #069e2d;
  padding-bottom: 55px;

  &:hover {
    color: #069e2d;
  }
}

.sec-sl-bg {
  background-image: url("../assets/stock-bg/bitmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  .icon-next::before {
    color: rgba(255, 255, 255, 0.5);
  }

  .card {
    border: none;
    &:hover {
      box-shadow: 0 0 11px 10px rgba(250, 249, 249, 0.2);
    }
  }
}

.grey-line {
  border-top: solid 1px #e5e5e5;
}

.white-line {
  border-top: solid 1px #fff;
}

.white {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .bg-text {
    top: 25%;
  }
  .bg-text-h1 {
    font-size: 32px;
  }
  .bg-green {
    width: 6.5%;
  }
}

@media screen and (max-width: 768px) {
  .bg-text-h1 {
    font-size: 28px;
  }
  .bg-text-p {
    font-size: 16px;
  }
  .bg-green {
    width: 9%;
  }
}

@media screen and (max-width: 576px) {
  .card-container {
    max-width: 400px;
  }
}

/*********************************************************************************************************************\
                                                  Footer
\*********************************************************************************************************************/

footer {
  background-color: #323131;
  color: #fff;
}

.footer-a {
  @include text("Ubuntu", 16px, normal, normal, center, inherit, none);

  &:hover {
    color: #069e2d;
  }
  img:hover {
    box-shadow: 0 0 11px 10px rgba(250, 249, 249, 0.2);
    border-radius: 50%;
  }
}

.icon-youtube::before {
  width: 40px;
  height: 40px;
}

.footer-h3 {
  @include text("Ubuntu", 20px, bold, normal, center, inherit, uppercase);
}

.dark-line {
  background-color: #272727;
}

.dark-line-p {
  @include text("Ubuntu", 16px, normal, normal, center, #ffffff, none);
  margin: 0;
}

@media screen and (min-width: 1200px) {
  footer {
    .footer-border-1 {
      border-left: solid 1px #838383;
    }
    .footer-border-2 {
      border-left: solid 1px #838383;
      border-right: solid 1px #838383;
    }
  }
}
